.cell-inpho {
  background: var(--white);
}

.cell-inpho__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 33px;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.cell-inpho__time {
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
}

.cell-inpho__icons {
  display: flex;
  justify-content: space-between;
  width: 66.69px;
}

@media screen and (min-width: 1024px) {
  .cell-inpho {
    display: none;
  }
}