.about-us {
  padding: 6rem 20rem 0; 
}

.secundary-title--about-us{
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.title--about-us {
  font-size: 3rem;
  margin-bottom: 2.25rem;
}

.about-us__paragraph {
  line-height: 1.875rem;
  margin-bottom: 6.6rem;
}

@media screen and (max-width: 768px) {
  .about-us {
    padding: 0 1rem; 
    margin-top: 3rem;
  }

  .title--about-us {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .about-us__paragraph {
    margin-bottom: 1rem;
  }
}